@import "variables";

// Internal variables
//$y-small: 0.6rem;
//$y-medium: 1.0rem;
$y-small: 0.6rem;
$y-medium: 1.0rem;


// Placeholders
%link-default {
    color: $red;
    text-decoration: none;
    & * {
        color: $red;
    }
    &:hover {
        color: $red;
        text-decoration: underline;
    }
}
%link-dark {
    color: $black;
    text-decoration: none;
    & * {
        color: $black;
    }
    &:hover {
        color: $black;
        text-decoration: underline;
    }
}
%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}


// Style
body {
    background-color: $background;
}
* {
    color: $black;
    font-family: "Inconsolata";
    line-height: 1.2;
}
.container {
    max-width: $max-width;
}
.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
}
.nav-link {
    @extend %link-default;
}
#content {
    a {
        @extend %link-default;
    }
    p {
        margin-bottom: $y-small;
	text-align: justify;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: medium;
        font-weight: bold;
	text-align: justify;
        margin: $y-medium 0 $y-small 0;
    }
    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }
    .pubm {
	color: $publications;
        background-color: $background;
        em {
          color: $publications;
        };
        strong {
          color: $publications;
        };

    }
    .workm {
	color: $working;
        background-color: $background;
        em {
          color: $working;
        };
        strong {
          color: $working;
        };

    }
    .confm {
	color: $conferences;
        background-color: $background;
        em {
          color: $conferences;
        };
        strong {
          color: $conferences;
        };

    }
    .publications {
	text-decoration-thickness: 6px;
	text-decoration-color: $publications;
    }
    .working {
	text-decoration-thickness: 6px;
	text-decoration-color: $working;
	text-decoration-skip-ink: none;
    }
    .conferences {
	text-decoration-thickness: 6px;
	text-decoration-color: $conferences;
	text-decoration-skip-ink: none;
    }
    #paper-button {
          border-color: $paper;
          color: $paper;
          background-color: $background;
    }
    #code-button {
          border-color: $code;
          color: $code;
          background-color: $background;
    }
    #project-button {
           border-color: #ff8299;
           color: #ff8299;
    }
    .button {
  	border-radius: 20px;
  	border-style: solid;
  	border-width: 2px;
  	background-color: white;
  	text-align: center;
  	transition: all 0.2s;
  	cursor: pointer;
  	padding-top:5px;
  	padding-bottom:5px;
  	padding-left:10px;
  	padding-right:10px;
  	font-size: 15px;
    }
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.2s;
    }
    .button:hover span {
      padding-right: 25px;
    }
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    figure.item {
        vertical-align: top;
        display: block;
        margin: $y-medium auto;
        text-align: center;
        float: right;
    }
    img {
        border-radius: 70%;
        float: right;
	object-fit: cover;
        margin: -8px 0 0 16px;
        height: $avatar-size;
        max-width: 100%;
        width: $avatar-size -10
    }
    @media (max-width: 600 px) {
        figure.item {
            vertical-align: top;
            display: block;
            margin: $y-medium auto;
            text-align: center;
            float: center;
        }
        img {
            border-radius: 70%;
            float: center;
            object-fit: cover;
            margin: -8px 0 0 16px;
            height: $avatar-size;
            width: $avatar-size - 10;
        }
    }
    .social-links {
        list-style: none;
        font-size: 15px;
        text-align: center;
        flex: 7;
    }
    .social-links i {
        margin-right: 3px;
    }
    .social-links li {
        display: inline;
        padding: 0 4px;
        line-height: 0;
    }
    .social-links a {
        color: $red;
    }
    .social-links a:hover {
        color: $red;
    }
    ol {
        counter-reset: list;
        list-style: none;
        padding-left: 0;
        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
        }
    }
    ul {
        list-style: inside;
        padding-left: 20px;
    }
    table {
        margin: $y-medium auto;
        width: 100%;
        & th {
            @extend %table-cell;
            font-weight: bold;
        }
        & td {
            @extend %table-cell;
        }
        & tr:nth-child(2n) {
            background-color: #f8f8f8;
        }
    }
    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $y-medium 0;
        padding: 8px 8px;
    }
    code {
        color: $black;
        background-color: $background;
        border: 1px solid #cccccc;
        border-radius: 10%;
        padding: 0px 4px;
    }
    pre code {
        all: unset;
    }
    .highlight {
        margin: $y-medium auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}
#footer {
    a {
        @extend %link-dark;
    }
}
